<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liveRoom.dao.Power" >
  <resultMap id="BaseResultMap" type="com.liveRoom.bean.Power" >
    <id column="power_id" property="power_id" jdbcType="INTEGER" />
    <result column="power_name" property="power_name" jdbcType="VARCHAR" />
    <result column="power_url" property="power_url" jdbcType="VARCHAR" />
    <result column="power_parentId" property="power_parentId" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List" >
    power_id, power_name, power_url, power_parentId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from power
    where power_id = #{power_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from power
    where power_id = #{power_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liveRoom.bean.Power" >
    insert into power (power_id, power_name, power_url, 
      power_parentId)
    values (#{power_id,jdbcType=INTEGER}, #{power_name,jdbcType=VARCHAR}, #{power_url,jdbcType=VARCHAR}, 
      #{power_parentId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.liveRoom.bean.Power" >
    insert into power
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="power_id != null" >
        power_id,
      </if>
      <if test="power_name != null" >
        power_name,
      </if>
      <if test="power_url != null" >
        power_url,
      </if>
      <if test="power_parentId != null" >
        power_parentId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="power_id != null" >
        #{power_id,jdbcType=INTEGER},
      </if>
      <if test="power_name != null" >
        #{power_name,jdbcType=VARCHAR},
      </if>
      <if test="power_url != null" >
        #{power_url,jdbcType=VARCHAR},
      </if>
      <if test="power_parentId != null" >
        #{power_parentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liveRoom.bean.Power" >
    update power
    <set >
      <if test="power_name != null" >
        power_name = #{power_name,jdbcType=VARCHAR},
      </if>
      <if test="power_url != null" >
        power_url = #{power_url,jdbcType=VARCHAR},
      </if>
      <if test="power_parentId != null" >
        power_parentId = #{power_parentId,jdbcType=INTEGER},
      </if>
    </set>
    where power_id = #{power_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liveRoom.bean.Power" >
    update power
    set power_name = #{power_name,jdbcType=VARCHAR},
      power_url = #{power_url,jdbcType=VARCHAR},
      power_parentId = #{power_parentId,jdbcType=INTEGER}
    where power_id = #{power_id,jdbcType=INTEGER}
  </update>
</mapper>