<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liveRoom.dao.UserDao">
	<resultMap id="BaseResultMap" type="com.liveRoom.bean.User">
		<id column="user_id" jdbcType="INTEGER" property="user_id" />
		<id column="user_qq" jdbcType="VARCHAR" property="user_qq" />
		<result column="user_name" jdbcType="VARCHAR" property="user_name" />
		<result column="user_phone" jdbcType="VARCHAR" property="user_phone" />
		<result column="user_email" jdbcType="VARCHAR" property="user_email" />
		<result column="user_registerIP" jdbcType="VARCHAR" property="user_registerIP" />
		<result column="user_realName" jdbcType="VARCHAR" property="user_realname" />
		<result column="user_integral" jdbcType="INTEGER" property="user_integral" />
		<result column="user_age" jdbcType="DATE" property="user_age" />
		<result column="user_address" jdbcType="VARCHAR" property="user_address" />
		<result column="user_registerDate" jdbcType="TIMESTAMP"       
			property="user_registerDate" />
		<result column="user_state" jdbcType="INTEGER" property="user_state" />
		<result column="user_lastTime" jdbcType="TIMESTAMP" property="user_lastTime" />
		<result column="user_loginIP" jdbcType="VARCHAR" property="user_loginIP" />
		<result column="user_pwd" jdbcType="VARCHAR" property="user_pwd" />
		<result column="user_level" jdbcType="INTEGER" property="user_level" />
		<result column="user_head" jdbcType="VARCHAR" property="user_head" />
		<result column="user_role" jdbcType="INTEGER" property="user_role" />
		<result column="user_account" jdbcType="VARCHAR" property="user_account" />
		<result column="user_sex" jdbcType="INTEGER" property="user_sex" />
		<result column="user_source" jdbcType="VARCHAR" property="user_source"/>
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.liveRoom.bean.User">
		<result column="user_introduction" jdbcType="LONGVARCHAR"
			property="user_introduction" />
	</resultMap>
	<sql id="Base_Column_List">
		user_id, user_qq, user_name, user_phone, user_email,
		user_registerIP,
		user_realName,
		user_integral, user_age, user_address,
		user_registerDate, user_state, user_lastTime,
		user_loginIP, user_pwd,
		user_level, user_head, user_role,
		user_account, user_sex,user_source
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user
		where = #{user_Id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user
		where = #{user_Id,jdbcType=INTEGER}
	</delete>
	<sql id="Blob_Column_List">
		user_introduction
	</sql>
	<insert id="insertSelective" parameterType="com.liveRoom.bean.User"
		useGeneratedKeys="true" keyProperty="user_id">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="user_id != null">
				user_id,
			</if>
			<if test="user_qq != null">
				user_qq,
			</if>
			<if test="user_name != null">
				user_name,
			</if>
			<if test="user_phone != null">
				user_phone,
			</if>
			<if test="user_email != null">
				user_email,
			</if>
			<if test="user_registerIP != null">
				user_registerIP,
			</if>
			<if test="user_realName != null">
				user_realName,
			</if>
			<if test="user_integral != null">
				user_integral,
			</if>
			<if test="user_age != null">
				user_age,
			</if>
			<if test="user_address != null">
				user_address,
			</if>
			<if test="user_registerDate != null">
				user_registerDate,
			</if>
			<if test="user_state != null">
				user_state,
			</if>
			<if test="user_lastTime != null">
				user_lastTime,
			</if>
			<if test="user_loginIP != null">
				user_loginIP,
			</if>
			<if test="user_pwd != null">
				user_pwd,
			</if>
			<if test="user_level != null">
				user_level,
			</if>
			<if test="user_head != null">
				user_head,
			</if>
			<if test="user_role != null">
				user_role,
			</if>
			<if test="user_account != null">
				user_account,
			</if>
			<if test="user_sex != null">
				user_sex,
			</if>
			<if test="user_introduction != null">
				user_introduction,
			</if>
			<if test="user_source != null">
			    user_source,
			</if>
			<if test="user_teacher != null">
			    user_teacher,
			</if>
			<if test="advantage != null">
			    advantage
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="user_id != null">
				#{user_id,jdbcType=INTEGER},
			</if>
			<if test="user_qq != null">
				#{user_qq,jdbcType=VARCHAR},
			</if>
			<if test="user_name != null">
				#{user_name,jdbcType=VARCHAR},
			</if>
			<if test="user_phone != null">
				#{user_phone,jdbcType=VARCHAR},
			</if>
			<if test="user_email != null">
				#{user_email,jdbcType=VARCHAR},
			</if>
			<if test="user_registerIP != null">
				#{user_registerIP,jdbcType=VARCHAR},
			</if>
			<if test="user_realName != null">
				#{user_realName,jdbcType=VARCHAR},
			</if>
			<if test="user_integral != null">
				#{user_integral,jdbcType=INTEGER},
			</if>
			<if test="user_age != null">
				#{user_age,jdbcType=DATE},
			</if>
			<if test="user_address != null">
				#{user_address,jdbcType=VARCHAR},
			</if>
			<if test="user_registerDate != null">
				#{user_registerDate,jdbcType=DATE},
			</if>
			<if test="user_state != null">
				#{user_state,jdbcType=INTEGER},
			</if>
			<if test="user_lastTime != null">
				#{user_lastTime,jdbcType=TIMESTAMP},
			</if>
			<if test="user_loginIP != null">
				#{user_loginIP,jdbcType=VARCHAR},
			</if>
			<if test="user_pwd != null">
				#{user_pwd,jdbcType=VARCHAR},
			</if>
			<if test="user_level != null">
				#{user_level,jdbcType=INTEGER},
			</if>
			<if test="user_head != null">
				#{user_head,jdbcType=VARCHAR},
			</if>
			<if test="user_role != null">
				#{user_role,jdbcType=INTEGER},
			</if>
			<if test="user_account != null">
				#{user_account,jdbcType=VARCHAR},
			</if>
			<if test="user_sex != null">
				#{user_sex,jdbcType=INTEGER},
			</if>
			<if test="user_introduction != null">
				#{user_introduction,jdbcType=LONGVARCHAR},
			</if>
			<if test="user_source != null">
			    #{user_source,jdbcType=VARCHAR},
			</if>
			<if test="user_teacher != null">
			    #{user_teacher,jdbcType=INTEGER},
			</if>
			<if test="advantage != null">
			    #{advantage,jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.liveRoom.bean.User" >
    update user
    <set >
			<if test="user_qq != null">
				#{user_qq,jdbcType=VARCHAR},
			</if>
			<if test="user_name != null">
				#{user_name,jdbcType=VARCHAR},
			</if>
			<if test="user_phone != null">
				#{user_phone,jdbcType=VARCHAR},
			</if>
			<if test="user_email != null">
				#{user_email,jdbcType=VARCHAR},
			</if>
			<if test="user_realName != null">
				#{user_realName,jdbcType=VARCHAR},
			</if>
			<if test="user_integral != null">
				#{user_integral,jdbcType=INTEGER},
			</if>
			<if test="user_age != null">
				#{user_age,jdbcType=DATE},
			</if>
			<if test="user_address != null">
				#{user_address,jdbcType=VARCHAR},
			</if>
			<if test="user_state != null">
				#{user_state,jdbcType=INTEGER},
			</if>
			<if test="user_lastTime != null">
				#{user_lastTime,jdbcType=TIMESTAMP},
			</if>
			<if test="user_pwd != null">
				#{user_pwd,jdbcType=VARCHAR},
			</if>
			<if test="user_level != null">
				#{user_level,jdbcType=INTEGER},
			</if>
			<if test="user_head != null">
				#{user_head,jdbcType=VARCHAR},
			</if>
			<if test="user_role != null">
				#{user_role,jdbcType=INTEGER},
			</if>
			<if test="user_account != null">
				#{user_account,jdbcType=VARCHAR},
			</if>
			<if test="user_sex != null">
				#{user_sex,jdbcType=INTEGER},
			</if>
			<if test="user_introduction != null">
				#{user_introduction,jdbcType=LONGVARCHAR},
			</if>
    </set>
    where  = #{user_Id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liveRoom.bean.User" >
    update user
    set user_qq = #{user_qq,jdbcType=VARCHAR},
      user_name = #{user_name,jdbcType=VARCHAR},
      user_phone = #{user_phone,jdbcType=VARCHAR},
      user_email = #{user_email,jdbcType=VARCHAR},
      user_realName = #{user_realName,jdbcType=VARCHAR},
      user_integral = #{user_integral,jdbcType=INTEGER},
      user_age = #{user_age,jdbcType=DATE},
      user_address = #{user_address,jdbcType=VARCHAR},
      user_state = #{user_state,jdbcType=INTEGER},
      user_lastTime = #{user_lastTime,jdbcType=TIMESTAMP},
      user_pwd = #{user_pwd,jdbcType=VARCHAR},
      user_level = #{user_level,jdbcType=INTEGER},
      user_head = #{user_head,jdbcType=VARCHAR},
      user_role = #{user_role,jdbcType=INTEGER},
      user_account = #{user_account,jdbcType=VARCHAR},
      user_sex = #{user_sex,jdbcType=INTEGER},
      user_introduction = #{user_introduction,jdbcType=LONGVARCHAR}
    where  = #{user_Id,jdbcType=INTEGER}
  </update>
</mapper>